# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Git
.git/
.gitignore

# IDE / editor
.vscode/
.idea/

# Misc
*.log
*.tmp
lookmovies.py
